<!-- <!DOCTYPE html> -->
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>

		/* svg {
			border: 1px solid #000;
		} */

		@media (max-width:500px){
	      #profile_photo {
						display: none;
	      }
				#profile_photo_hover_instructions {
						display: none;
	      }
			}

	 	/* #profile_photo {
			cursor: url(../img/pizza_cursor.png), auto;
		} */

		</style>
	</head>
	<body>
		<!-- Load d3.js -->
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<!-- Create a div where the graph will take place -->
		<div id="profile_photo" align="center"></div>
		<div id="profile_photo_hover_instructions" align="center" style="margin-top:-15px;"><p style="font-style: italic;">Hover on my face!</p></div>
		<script>

		// set the dimensions and margins of the graph
		var margin = {top: 0, bottom: 15, left: 0, right: 0},
		    width = 405,
		    height = 405;

		// append the svg object to the body of the page
		var svg = d3.select("#profile_photo")
				.append("svg")
				  .attr("width", width)
				  .attr("height", height)
				.append("g")
				  .attr("transform",
				        "translate(" + margin.left + "," + margin.top + ")");

		// appending the original version of the photo, invisible upon page load.
		// x,y coordinates are relative to the transform translate above.
		svg.append("svg:image")
			// .attr("id", "full_resolution_photo")
			.attr("x", 0)
			.attr("y", 0)
			.attr("width", width)
			.attr("height", height)
			.attr("xlink:href", "../img/profile_photo.png")
			.attr("pointer-events", "none");
		//Read the data
		d3.csv("/assets/profile_photo/proile_photo_pixel_rgb_codes.csv", function(data) {
			// defining time variables as inputs for pMO and pML tansitions.
			var transDelay = 100,
					transDuration = 750,
					transLength = (transDelay * 2) + (transDuration * 2);

			pMO = function(d) {

				var thisID = d3.select(this).attr("id"),
					currentPixel = "#" + String(thisID),
					xInput = parseInt(thisID.replace("x", "").split("y", 2)[0]),
					yInput = parseInt(thisID.replace("x", "").split("y", 2)[1]),
					// defining neighbors so they'll activate a 3x3 box area of pixels in all directions
					neighborPixel1 = "#x" + String(xInput-1) + "y" + String(yInput-1),
					neighborPixel2 = "#x" + String(xInput-1) + "y" + String(yInput+1),
					neighborPixel3 = "#x" + String(xInput+1) + "y" + String(yInput-1),
					neighborPixel4 = "#x" + String(xInput+1) + "y" + String(yInput+1);

				d3.selectAll(currentPixel + ", " + neighborPixel1 + ", " + neighborPixel2 + ", " + neighborPixel3 + ", " + neighborPixel4)
					.style("stroke-width", 0.3)
					.transition()
						.delay(transDelay)
						.duration(transDuration)
						.attr("x", function(d) { return x(d.x_coordinate) + 1.5})
						.attr("y", function(d) { return y(d.y_coordinate) - 1})
						.attr("width", x.bandwidth()/1.5)
						.attr("height", y.bandwidth()/1.5)
						.attr("transform", function(d) { return "rotate(45," + (x(d.x_coordinate) + ((x.bandwidth()-(x.bandwidth()/1.5))/2)) + "," + (y(d.y_coordinate) + ((y.bandwidth()-(y.bandwidth()/1.5)))) + ")"})
					.transition()
						.delay(transDelay)
						.duration(transDuration)
						.style("opacity", 0);

			},
					pML = function(d) {

				var thisID = d3.select(this).attr("id"),
					currentPixel = "#" + thisID,
					xInput = parseInt(thisID.replace("x", "").split("y", 2)[0]),
					yInput = parseInt(thisID.replace("x", "").split("y", 2)[1]),
					// defining neighbors so they'll activate a 3x3 box area of pixels in all directions
					neighborPixel1 = "#x" + String(xInput-1) + "y" + String(yInput-1),
					neighborPixel2 = "#x" + String(xInput-1) + "y" + String(yInput+1),
					neighborPixel3 = "#x" + String(xInput+1) + "y" + String(yInput-1),
					neighborPixel4 = "#x" + String(xInput+1) + "y" + String(yInput+1);

				d3.selectAll(currentPixel + ", " + neighborPixel1 + ", " + neighborPixel2 + ", " + neighborPixel3 + ", " + neighborPixel4)
					.transition()
						.delay(transLength + 500)
						.duration(transDuration)
						.attr("x", function(d) { return x(d.x_coordinate) })
						.attr("y", function(d) { return y(d.y_coordinate) })
						.attr("width", x.bandwidth())
						.attr("height", y.bandwidth())
						.attr("transform", function(d) { return "rotate(0,"  + ( (x(d.x_coordinate) + ((x.bandwidth()-(x.bandwidth()/1.5))/2))) + "," + ( (y(d.y_coordinate) + ((y.bandwidth()-(y.bandwidth()/1.5))/2))) + ")"})
						.style("stroke-width", 0.3)
						.style("opacity", 1)
					.transition()
						.delay(transDelay)
						.duration(transDuration)
						.style("stroke-width", 0.075);

			};
			// Labels of row and columns -> unique identifier of the column called 'xCoordinate' and 'yCoordinate'
			var pixelX = d3.map(data, function(d){ return d.x_coordinate; }).keys(),
					pixelY = d3.map(data, function(d){ return d.y_coordinate; }).keys();

			// Build X and Y scales and axis:
			// Scaling the pixels within the space of the svg.
			var	x = d3.scaleBand()
								.range([0, width])
								.domain(pixelX)
								.padding(0),
					y = d3.scaleBand()
								.range([0, height])
								.domain(pixelY)
								.padding(0);

			// adding the 48x48 pixels that will make up the profile photo
		  var rect = svg.selectAll()
			    .data(data, function(d) { return d.x_coordinate+':'+d.y_coordinate; })
			    .enter();

			rect.append("rect")
						.attr("class", "photo_pixels")
						.attr("id", function(d) { return "x" + String(parseInt(d.x_coordinate)) + "y" + String(parseInt(d.y_coordinate))})
						.attr("x", function(d) { return x(d.x_coordinate) })
			      .attr("y", function(d) { return y(d.y_coordinate) })
			      .attr("rx", 0)
			      .attr("ry", 0)
			      .attr("width", x.bandwidth())
			      .attr("height", y.bandwidth())
						.style("stroke", "white")
						.style("stroke-width", 0.075)
			      .style("fill", function(d) { return "rgb(" + String(parseInt(d.r)) + "," + String(parseInt(d.g)) + "," + String(parseInt(d.b)) + ")"})
						.on("mouseover", pMO)
						.on("mouseleave", pML);

			});

		</script>
	</body>
</html>
