<html>
	<head>
		<title>The Networks of War</title>
	</head>
	<body>
		<p align="center">Choose a War Type</p>
		<div class="center">
			<a href="../the_networks_of_war_inter_state_wars/" class="btn-group">Inter-State</a>
			<a href="../the_networks_of_war_intra_state_wars/" class="btn-group">Intra-State</a>
		</div>
		<div class="center" style="margin-top:20px; margin-bottom:40px;">
			<a href="../the_networks_of_war_extra_state_wars/" class="btn-group">Extra-State</a>
			<!-- <a href="../the_networks_of_war_non_state_wars/" class="btn-group">Non-State</a> -->
		</div>
	</body>
</html>
