<!-- <!DOCTYPE html> -->
<html>
  <head>
    <style type="text/css">
      .btn-group {
        width: 200px;
      }

      @media (min-width: 1200px) {
        .custom-btn-adjustment2 {
          margin-top: 10px;
          margin-bottom: 40px;
        }
      }

      @media (max-width: 1199px) {
        .custom-btn-adjustment1 {
          margin-bottom: 7.5px;
        }

        .custom-btn-adjustment2 {
          margin-top: 0px;
          margin-bottom: 40px;
        }
      }
    </style>
  </head>
  <body>
    <div style="margin-top: 15px">
      <div class="center custom-btn-adjustment1">
        <a href="../inter_state_wars/" class="btn-group">Inter-State</a>
      </div>
      <div class="center custom-btn-adjustment2">
        <a href="../intra_state_wars/" class="btn-group custom-btn-adjustment1">Intra-State</a>
        <a href="../extra_state_wars/" class="btn-group custom-btn-adjustment1">Extra-State</a>
        <!-- <a href="../non_state_wars/" class="btn-group custom-btn-adjustment1">Non-State</a> -->
      </div>
    </div>
  </body>
</html>
