<html>
	<head>
		<title>US Gun Violence Forecasting</title>
		<style>

			.btn-group {
			  width: 215px;
			}

		</style>
	</head>
	<body>
		<div class="center">
			<a href="../us_gun_violence_forecasting_tool/" class="btn-group">Forecasting Tool</a>
		</div>
		<div align="left" style="margin-top:-6px; margin-bottom:5px;">
			<p>Documentation page coming soon! Stay tuned for updates.</p>
			<!-- <p>My goal for this project was to use interactivity as a tool for specific questions for forecasting. I hope this tool can be generalized to other topics/datasets in the future.</p>
			<p>The questions were as follows:</p>
			<ul>
				<li>How does a current forecast/time series model compare to our expecations?</li>
				<p>By hovering...</p>
				<li>How far back should we look to get an accurate forecast of future data points?</li>
			</ul> -->
		</div>
	</body>
</html>
