---
layout: page
title: Pixel Portrait
subtitle: An Interactive Svelte Portrait
project-id: pixel_portrait
gh-repo: cyaris/pixel_portrait/
full-width: true
---
<style>
  main > .row > [class*='col'] > .pagination.blog-pager {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%;
  }

  @media (min-width: 576px) {
    main > .row > [class*='col'] > .pagination.blog-pager {
      max-width: 31.875rem;
    }
  }

  @media (min-width: 768px) {
    main > .row > [class*='col'] > .pagination.blog-pager {
      max-width: 43.125rem;
    }
  }

  @media (min-width: 992px) {
    main > .row > [class*='col'] > .pagination.blog-pager {
      max-width: 48.125rem;
    }
  }

  @media (min-width: 1200px) {
    main > .row > [class*='col'] > .pagination.blog-pager {
      max-width: 45.625rem;
    }
  }
</style>

{% include s3_asset.html path='pixel_portrait/bundle.css' type='style' bundle=true %}
{% include s3_asset.html path='pixel_portrait/bundle.js' type='script' bundle=true %}
