<!-- <!DOCTYPE html> -->
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>

		.bmc-btn-container {
			margin-top: 50px;
		}

		.bmc-btn-text {
			position: relative;
			right: 15px;
		}

  	</style>
	</head>
				<center>
					<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="charlieyaris" data-color="#FFDD00" data-emoji="🍕"  data-font="Cookie" data-text="Buy me pizza" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff"></script>
				</center>
</html>
