{% if page['gh-repo'] %}
  {% assign gh_split = page['gh-repo'] | split: '/' %}
  {% assign gh_user = gh_split[0] %}
  {% assign gh_repo = gh_split[1] %}

  <div id="header-gh-btns">
    {% if page['gh-badge'].size > 0 %}
      {% for badge in page['gh-badge'] %}
        {% case badge %}
          {% when 'star' %}
            <!-- custom edit: added no_selection class to iframe. -->
            <iframe
              class="no_selection"
              src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=star&count=true"
              frameborder="0"
              scrolling="0"
              width="120px"
              height="20px"
            ></iframe>
            <!-- end of custom edit -->
          {% when 'watch' %}
            <!-- custom edit: added no_selection class to iframe. -->
            <iframe
              class="no_selection"
              src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=watch&v=2&count=true"
              frameborder="0"
              scrolling="0"
              width="120px"
              height="20px"
            ></iframe>
            <!-- end of custom edit -->
          {% when 'fork' %}
            <!-- custom edit: added no_selection class to iframe. -->
            <iframe
              class="no_selection"
              src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=fork&count=true"
              frameborder="0"
              scrolling="0"
              width="120px"
              height="20px"
            ></iframe>
            <!-- end of custom edit -->
          {% when 'follow' %}
            <!-- custom edit: added no_selection class to iframe. -->
            <iframe
              class="no_selection"
              src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&type=follow&count=true"
              frameborder="0"
              scrolling="0"
              width="120px"
              height="20px"
            ></iframe>
            <!-- end of custom edit -->
        {% endcase %}
      {% endfor %}
    {% endif %}
  </div>
{% endif %}
