{%- assign s3_path = include.path -%}
{%- assign s3_bundle_prefix = site.s3_bundle_prefix | default: '' -%}
{%- if include.bundle and s3_bundle_prefix != '' -%}
  {%- assign bundle_path = '/' | append: s3_bundle_prefix | append: 'bundle' -%}
  {%- assign s3_path = s3_path | replace: '/bundle', bundle_path -%}
{%- endif -%}
{%- assign s3_url = site.s3_bucket | append: '/' | append: s3_path -%}
{{- s3_url -}}
{%- if include.bundle or include.cache_bust -%}
  ?v=
  {{- site.time | date: '%s' -}}
{%- endif -%}
