{% if site['social-network-links'] %}
  <ul class="list-inline text-center footer-links">
    {%- for network in site['social-network-links'] -%}
      {%- if network[0] == 'email' -%}
        <li class="list-inline-item">
          <a href="{{ '/contact' | relative_url }}" title="Email me">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Email me</span>
          </a>
        </li>
      {%- endif -%}

      {%- if network[0] == 'linkedin' -%}
        <li class="list-inline-item">
          <a href="https://linkedin.com/in/{{ site.social-network-links.linkedin }}" target="_blank" title="LinkedIn">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">LinkedIn</span>
          </a>
        </li>
      {%- endif -%}

      {%- if network[0] == 'github' -%}
        <li class="list-inline-item">
          <a href="https://github.com/{{ site.social-network-links.github }}" target="_blank" title="GitHub">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-github fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">GitHub</span>
          </a>
        </li>
      {%- endif -%}

      {%- if network[0] == 'tableau' -%}
        <li class="list-inline-item">
          <a
            href="https://public.tableau.com/profile/{{ site.social-network-links.tableau }}"
            target="_blank"
            title="Tableau Public"
          >
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-circle fa-stack-2x"></i>
              <svg
                class="tableau-icon fa-stack-1x fa-inverse"
                viewBox="0 0 100.2 98"
                focusable="false"
              >
                <g fill="currentColor">
                  <polygon points="65.7,51.8 52,51.8 52,66.8 46.6,66.8 46.6,51.8 32.8,51.8 32.8,46.6 46.6,46.6 46.6,31.6 52,31.6 52,46.6 65.7,46.6"></polygon>
                  <polygon points="38.2,70.3 25.9,70.3 25.9,56.8 21.3,56.8 21.3,70.3 8.8,70.3 8.8,74.3 21.3,74.3 21.3,87.6 25.9,87.6 25.9,74.3 38.2,74.3"></polygon>
                  <polygon points="90.7,23 78.3,23 78.3,9.6 73.7,9.6 73.7,23 61.4,23 61.4,27.2 73.7,27.2 73.7,40.5 78.3,40.5 78.3,27.2 90.7,27.2"></polygon>
                  <polygon points="59.8,84.9 51.5,84.9 51.5,75.6 47.5,75.6 47.5,84.9 39,84.9 39,88.5 47.5,88.5 47.5,98 51.5,98 51.5,88.5 59.8,88.5"></polygon>
                  <polygon points="38.1,22.9 25.6,22.9 25.6,9.6 21.1,9.6 21.1,22.9 8.6,22.9 8.6,26.9 21.1,26.9 21.1,40.5 25.6,40.5 25.6,26.9 38.1,26.9"></polygon>
                  <polygon points="100.2,47.4 91.9,47.4 91.9,38.1 87.8,38.1 87.8,47.4 79.4,47.4 79.4,51 87.8,51 87.8,60.3 91.9,60.3 91.9,51 100.2,51"></polygon>
                  <polygon points="89.9,70.3 77.6,70.3 77.6,56.8 73,56.8 73,70.3 60.6,70.3 60.6,74.3 73,74.3 73,87.6 77.6,87.6 77.6,74.3 89.9,74.3"></polygon>
                  <polygon points="59.2,9.3 50.9,9.3 50.9,0 47.9,0 47.9,9.3 39.6,9.3 39.6,12.1 47.9,12.1 47.9,21.2 50.9,21.2 50.9,12.1 59.2,12.1"></polygon>
                  <polygon points="19.6,47.8 11.3,47.8 11.3,38.7 8.3,38.7 8.3,47.8 0,47.8 0,50.6 8.3,50.6 8.3,59.7 11.3,59.7 11.3,50.6 19.6,50.6"></polygon>
                </g>
              </svg>
            </span>
            <span class="sr-only">Tableau Public</span>
          </a>
        </li>
      {%- endif -%}

      {%- if network[0] == 'kaggle' -%}
        <li class="list-inline-item">
          <a href="https://kaggle.com/{{ site.social-network-links.kaggle }}" target="_blank" title="kaggle">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-kaggle fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Kaggle</span>
          </a>
        </li>
      {%- endif -%}

      {%- if network[0] == 'instagram' -%}
        <li class="list-inline-item">
          <a href="https://instagram.com/{{ site.social-network-links.instagram }}" target="_blank" title="Instagram">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">Instagram</span>
          </a>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
{% endif %}
