<section class="tableau-gallery-item">
  <h3>Maryland Traffic Violations</h3>
  <h5>Why would a reckless driver get a warning instead of a citation?</h5>
  <p>An in-depth analysis of 94,702 reckless drivers in the state of Maryland.</p>
  {% include tableau_dashboards/maryland_traffic_violations.html %}
</section>
<section class="tableau-gallery-item">
  <h3>Uncovering Jury Tariffs in Chicago's Justice System</h3>
  <p>An investigation into human behavior using binary classification.</p>
  {% include tableau_dashboards/cook_county_court_sentencing.html %}
</section>
