<html>
	<head>
		<title>Mastermind</title>
		<style>

			.btn-group {
			  width: 185px;
			}

			@media (max-width: 767px) {

			  .custom-btn-adjustment1 {
			    margin-bottom: 7.5px;
			  }

				.custom-btn-adjustment2 {
					margin-top: 0px;
			    margin-bottom: 40px;
			  }
			}

			@media (min-width: 767px) {

				.custom-btn-adjustment2 {
					margin-top: 10px;
			    margin-bottom: 40px;
			  }
			}

		</style>
	</head>
	<body>
		<div class="center custom-btn-adjustment1">
			<a href="../play_mastermind/" class="btn-group">Play Game</a>
		</div>
		<div class="center custom-btn-adjustment2">
			<a href="../mastermind_development/" class="btn-group custom-btn-adjustment1">Development</a>
			<a href="../mastermind_instructions/" class="btn-group custom-btn-adjustment1">Instructions</a>
		</div>
	</body>
</html>
