<html>
	<head>
		<title>Mastermind</title>
		<style>

			.custom-btn-size {
			  width: 185px;
			}

		</style>
	</head>
	<body>
		<div class="center">
			<a href="../play_mastermind/" class="btn-group custom-btn-size">Play Game</a>
		</div>
		<div class="center" style="margin-top:20px; margin-bottom:40px;">
			<a href="../mastermind_development/" class="btn-group custom-btn-size">Development</a>
			<a href="../mastermind_instructions/" class="btn-group custom-btn-size">Instructions</a>
		</div>
	</body>
</html>
