<html>
	<head>
		<title>Mastermind</title>
	  <style type="text/css">

			.custom-btn-size {
				width: 185px;
			}

	  </style>
	</head>
	<body>
		<div class="center">
			<a href="../play_mastermind/" class="btn-group custom-btn-size">Play Game</a>
		</div>
		<div style="margin-top:12px; margin-bottom:40px;">
			<p align="left">Never played Mastermind before?<br><br>The computer will pick a secret color code with a specific order. The length of this code will vary according to the level. Each turn, you'll use the color wheel to try and guess the color code while the computer scores your guess in two columns. The W column denotes right colors in the wrong place and the B column denotes right colors in the right place. If you get the maximum right colors in the right place before the board is completely filled, then you win!</p>
		</div>
	</body>
</html>
