---
layout: null
---


body {
  /* changed font for body */
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* changed font-size for body  */
  font-size: 1rem;
}

a:hover,
a:focus {
  /* changed hover-col to link-hover-col  */
  color: {{ site.link-hover-col | default: "#0085A1" }};
}

::-moz-selection {
  /* changed hover-col to link-hover-col  */
  background-color: {{ site.link-hover-col | default: "#0085A1" }};
}

::selection {
  /* changed hover-col to link-hover-col  */
  background-color: {{ site.link-hover-col | default: "#0085A1" }};
}

/* --- Navbar --- */

.navbar-custom {
  /* made bottom border thicker */
  border-bottom: 2px solid {{ site.navbar-border-col | default: "#DDDDDD" }};
  /* added top border */
  border-top: 2px solid {{ site.navbar-border-col | default: "#DDDDDD" }};
}

.navbar-custom .navbar-brand {
  /* changed font-size for navbar title link */
  font-size: 1.25rem;
}

.navbar-custom .navbar-nav .nav-item {
  /* changed transform to capitalize */
  text-transform: capitalize;
  /* changed font-size for navbar links (not including title link or dropdown links) */
  font-size: 1rem;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  /* custom edit: changed variable name navbar-text-col to navbar-link-col */
  color: {{ site.navbar-link-col | default: "#404040" }};
}

/* increasing size of projects navbar section width */
.navbar-custom .nav-item.dropdown {
  padding-left: 0.7375rem;
  padding-right: 0.7375rem;
}

.navbar-custom .nav-item.dropdown .dropdown-menu .dropdown-item {
  /* changed variable name navbar-text-col to navbar-link-col */
  color: {{ site.navbar-link-col | default: "#404040" }};
}

@media (min-width: 1200px) {

  .navbar-custom {
    padding-top: 0.7375rem;
    padding-bottom: 0.7375rem;
  }

  .navbar-custom .nav-item.dropdown {
    /* added transparent border to project links section, which will become visible later on */
    border: 2px solid transparent;
  }

  .navbar-custom .nav-item.dropdown:hover {
    /* added color to project links section border */
    border-color: {{ site.navbar-border-col | default: "#DDDDDD" }};
    background-color: transparent;
  }

  .navbar-custom .nav-item.dropdown .dropdown-menu .dropdown-item {
    /* made border for dropdown items on all sides */
    border-width: 2px 2px 2px;
  }
}

.navbar-custom .nav-item.dropdown .dropdown-menu {
  /* changed font-size for navbar dropdown items */
  font-size: 0.825em;
}

.navbar-custom .nav-item.dropdown .dropdown-menu .dropdown-item {
  /* changed font-weight for dropdown items */
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item.dropdown:hover > .dropdown-menu {
  /* making dropdown execute on hover instead of click */
  display: block;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-nav .nav-link:hover,
.navbar-custom .navbar-nav .nav-link:focus,
.navbar-custom .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-custom .navbar-nav .dropdown-menu .dropdown-item:focus {
  /* added individual hover color variable for navbar  */
  color: {{ site.navbar-link-hover-col | default: "#0085A1" }};
  /* added individual border color variable for navbar  */
  /* -webkit-text-stroke: 0.5px {{ site.navbar-link-hover-border-col | default: "#0085A1" }}; */
}


/* --- Footer --- */
footer {
  /* added bottom border */
  border-bottom: 1px solid {{ site.footer-border-col | default: "#DDDDDD" }};
  /* added top border */
  border-top: 1px solid {{ site.footer-border-col | default: "#DDDDDD" }};
}

footer a:hover {
  /* added individual hover color variable for footer */
  color: {{ site.footer-link-hover-col | default: "#404040" }};
}

.list-inline a {
  /* added individual color for social in footer */
  color: {{ site.social-icon-background-col | default: "#0085A1" }};
 }

.list-inline a:hover {
  /* added individual color for social hover in footer */
  color: {{ site.social-icon-background-hover-col | default: "#0085A1" }};
 }

 .fa-stack-1x {
  /* changed color of font-awesome icon */
  color: {{ site.social-icon-col | default: "#0085A1" }};
 }

.fa-stack-1x:hover {
 /* changed color of font-awesome icon on hover */
 color: {{ site.social-icon-hover-col | default: "#0085A1" }};
}

.author-site a {
  /* added slight bold to link */
  font-weight: 625;
}

.theme-by a {
  /* added slight bold to link */
  font-weight: 625;
}

/* --- Posts Preview Page --- */

.post-preview a:focus,
.post-preview a:hover {
  /* custom edit: changed hover-col to link-hover-col  */
  color: {{ site.link-hover-col | default: "#0085A1" }};
}

.post-preview .post-meta,
.post-heading .post-meta {
  /* changed font of posts */
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* .post-preview .post-title {
  /* making title of the post the color of links (rather than black) */
  /* color: {{ site.post-title-link-col | default: "#0085A1" }}; */
/* } */


/* --- Tags --- */

.blog-tags a {
  /* changed tag border radius to be consistent with site buttons */
  border-radius:28px;
  /* added individual border color for tag on hover */
  border: 2.5px solid transparent;
}

.blog-tags a:hover {
  /* added individual color for tag on hover */
  color: {{ site.tag-link-hover-col | default: "#404040" }};
  /* added individual background color for tag on hover */
  background-color: {{ site.tag-background-hover-col | default: "#0085A1" }};
  /* added individual border color for tag on hover */
  border-color: {{ site.tag-border-hover-col | default: "#0085A1" }};

}

/* --- Pagination --- */
.pagination .page-item .page-link {
  /* changed pagination color */
  color: {{ site.pagination-link-col | default: "#0085A1" }};
  /* changed transform to capitalize */
  text-transform: capitalize;
  /* changed pagination border radius to be consistent with other site buttons */
  border-radius:28px;
  /* changed pagination background color */
  background-color: {{ site.pagination-background-col | default: "#0085A1" }};
  /* added border color */
  border: 2.5px solid {{ site.pagination-border-col | default: "#0085A1" }};;
}

.pagination .page-item .page-link:hover,
.pagination .page-item .page-link:focus {
  /* changed pagination color on hover */
  color: {{ site.pagination-link-hover-col | default: "#404040" }};
  /* changed pagination background color on hover */
  background-color: {{ site.pagination-background-hover-col | default: "#0085A1" }};
  border-color: {{ site.pagination-border-hover-col | default: "#0085A1" }};;
}


/* --- 404 --- */
/* 404 image width larger on desktop */
@media (max-width: 768px) {
  .image_404 {
    max-width: 60%;
    max-height: 60%;
  }
}

/* 404 image width smaller on mobile */
@media (min-width: 768px) {
  .image_404 {
    max-width: 40%;
    max-height: 40%;
  }
}

/* redefined center class css formatting */
.center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 50px; */
}


/* --- Buttons --- */
/* added btn-group and btn-group elements css formatting */
.btn-group {
  background-color: {{ site.btn-background-col | default: "#0085A1" }};
  border-radius:28px;
  /* border:1px solid #18ab29; */
  display:inline-block;
  cursor:pointer;
  color: {{ site.btn-link-col | default: "#0085A1" }};
  font-size:17px;
  font-weight: bold;
  padding:16px 31px;
  text-decoration:none;
  border: 2.5px solid transparent;
  /* text-shadow:0px 1px 0px #2f6627; */
}

.btn-group:hover {
  color: {{ site.btn-link-hover-col | default: "#0085A1" }};
  background-color: {{ site.btn-background-hover-col | default: "#0085A1" }};
  border: 2.5px solid {{ site.btn-border-hover-col | default: "#0085A1" }};;
}

.btn-group:active {
  position:relative;
  top:1px;
}


.pagination .page-item .page-link {
  background-color: {{ site.pagination-background-col | default: "#0085A1" }};
  color: {{ site.pagination-link-col | default: "#0085A1" }};
}

.pagination .page-item .page-link:hover,
.pagination .page-item .page-link:focus {
  color: {{ site.pagination-link-hover-col | default: "#0085A1" }};
  background-color: {{ site.pagination-background-hover-col | default: "#0085A1" }};
  border: 2.5px solid {{ site.pagination-border-hover-col | default: "#0085A1" }};;
}
