---
layout: page
---
<script type="text/javascript">
  if (history.scrollRestoration) {
    history.scrollRestoration = 'manual'
  } else {
    window.scrollTo(0, 0)
  }
</script>

{{ content }}

{% assign posts = paginator.posts | default: site.posts | where: 'type', page.type %}

<!-- role="list" needed so that `list-style: none` in Safari doesn't remove the list semantics -->
<ul class="posts-list list-unstyled" role="list">
  {% for post in posts %}
    <li class="post-preview">
      <article>
        {%- capture thumbnail -%}
        {% if post.thumbnail-img %}
          {{ post.thumbnail-img }}
        {% elsif post.cover-img %}
          {% if post.cover-img.first %}
            {{ post.cover-img[0].first.first }}
          {% else %}
            {{ post.cover-img }}
          {% endif %}
        {% else %}
        {% endif %}
      {% endcapture %}
        {% assign thumbnail = thumbnail | strip %}
        {% assign thumbnail_fit = post['thumbnail-fit'] | default: 'contain' %}
        {% assign thumbnail_position = post['thumbnail-position'] | default: 'center center' %}
        {% assign thumbnail_size = post['thumbnail-size'] | default: 'normal' %}

        <div class="post-preview-header{% if thumbnail != '' %} has-thumbnail{% endif %}">
          {% if thumbnail != '' %}
            <a
              class="post-thumbnail{% if thumbnail_fit == 'cover' %} thumbnail-cover{% endif %}{% if thumbnail_size == 'small' %} thumbnail-small{% elsif thumbnail_size == 'extra-small' %} thumbnail-extra-small{% endif %}"
              href="{{ post.url | relative_url }}"
              aria-label="Thumbnail"
            >
              <img
                src="{{ thumbnail | relative_url }}"
                alt="Post thumbnail"
                style="object-position: {{ thumbnail_position }};"
              >
            </a>
          {% endif %}

          <div class="post-preview-heading">
            <a href="{{ post.url | relative_url }}">
              <h2 class="post-title">{{ post.title | strip_html }}</h2>

              {% if post.subtitle %}
                <h3 class="post-subtitle">
                  {{ post.subtitle | strip_html }}
                </h3>
              {% endif %}
            </a>

            {% if post.author %}
              <span
                >By <strong>{{ post.author | strip_html }}</strong></span
              >
            {% endif %}
            {% assign date_format = site.date_format | default: '%B %-d, %Y' %}
            {% assign repo_data = null %}
            {% if page.type == 'project' and post['gh-repo'] %}
              {% assign repo_key = post['gh-repo']
                | replace: 'https://github.com/', ''
                | replace: 'http://github.com/', ''
                | replace: 'github.com/', ''
              %}
              {% assign repo_parts = repo_key | split: '/' %}
              {% assign repo_key = repo_parts[0] | append: '/' | append: repo_parts[1] %}
              {% assign repo_data = site.data.github_repos[repo_key] %}
            {% endif %}
            {% if page.type == 'project' and repo_data %}
              <div class="post-meta repo-meta repo-pills" aria-label="Repository dates">
                <a class="repo-pill" href="https://github.com/{{ repo_key }}" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-github" aria-hidden="true"></i>
                  <span class="repo-pill-label">created</span>
                  <time datetime="{{ repo_data.created | date: '%Y-%m-%d' }}">
                    {{- repo_data.created | date: '%Y-%m-%d' -}}
                  </time>
                </a>
                <a
                  class="repo-pill"
                  href="https://github.com/{{ repo_key }}/commits/{{ repo_data.default_branch | default: 'master' }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fas fa-code-branch" aria-hidden="true"></i>
                  <span class="repo-pill-label">{{ repo_data.default_branch | default: 'branch' }}</span>
                  <time datetime="{{ repo_data.latest_commit | date: '%Y-%m-%d' }}">
                    {{- repo_data.latest_commit | date: '%Y-%m-%d' -}}
                  </time>
                </a>
              </div>
            {% elsif page.type != 'project' %}
              <p class="post-meta">
                {{ post.date | date: date_format }}
              </p>
            {% endif %}
          </div>
        </div>

        {% unless site.feed_show_excerpt == false %}
          <div class="post-entry">
            {% assign excerpt_length = site.excerpt_length | default: 50 %}
            {{ post.excerpt | strip_html | truncatewords: excerpt_length }}
            {% assign excerpt_word_count = post.excerpt | number_of_words %}
            {% if post.content != post.excerpt or excerpt_word_count > excerpt_length %}
              <a href="{{ post.url | absolute_url }}" class="post-read-more">[Read&nbsp;More]</a>
            {% endif %}
          </div>
        {% endunless %}
      </article>
    </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
  <ul class="pagination main-pager">
    {% if paginator.previous_page %}
      <li class="page-item previous">
        <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">
          <i class="fas fa-arrow-left" alt="Newer Posts"></i>
          <span class="d-none d-sm-inline-block">Newer Posts</span>
        </a>
      </li>
    {% endif %}
    {% if paginator.next_page %}
      <li class="page-item next">
        <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">
          <span class="d-none d-sm-inline-block">Older Posts</span>
          <i class="fas fa-arrow-right" alt="Older Posts"></i>
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %}
