---
layout: base
---
{% include header.html type="post" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% include github-badges.html %}

      {% if page['before-content'] %}
        <div class="before-content">
          {% for file in page['before-content'] %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="blog-post">
        {{ content }}
      </div>

      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          <span>Tags:</span>
          {% for tag in page.tags %}
            <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
          {% endfor %}
        </div>
      {% endif %}

      {% if page['after-content'] %}
        <div class="after-content">
          {% for file in page['after-content'] %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% if page['social-share'] %}
        {% include social-share.html %}
      {% endif %}

      {% assign typed_posts = site.posts | where: 'type', page.type | sort: 'date' %}
      {% assign previous_typed_post = null %}
      {% assign next_typed_post = null %}
      {% assign found_current_post = false %}
      {% for post in typed_posts %}
        {% if found_current_post and next_typed_post == null %}
          {% assign next_typed_post = post %}
        {% endif %}
        {% if post.url == page.url %}
          {% assign found_current_post = true %}
        {% elsif found_current_post != true %}
          {% assign previous_typed_post = post %}
        {% endif %}
      {% endfor %}

      <ul class="pagination blog-pager">
        {% if previous_typed_post.url %}
          <li class="page-item previous">
            <a
              class="page-link"
              href="{{ previous_typed_post.url | relative_url }}"
              data-toggle="tooltip"
              data-placement="top"
              title="{{ previous_typed_post.title | strip_html | xml_escape }}"
            >
              <span class="desktop-text"><span class="rotate">➔</span>&nbsp;&nbsp;Previous {{ page.type }}</span>
              <span class="mobile-text rotate">➔</span>
            </a>
          </li>
        {% endif %}
        {% if next_typed_post.url %}
          <li class="page-item next">
            <a
              class="page-link"
              href="{{ next_typed_post.url | relative_url }}"
              data-toggle="tooltip"
              data-placement="top"
              title="{{ next_typed_post.title | strip_html | xml_escape }}"
            >
              <span class="desktop-text">Next {{ page.type }}&nbsp;&nbsp;➔</span>
              <span class="mobile-text">➔</span>
            </a>
          </li>
        {% endif %}
      </ul>
      {% include comments.html %}
    </div>
  </div>
</main>
